In [19]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline
import seaborn as sns
import datetime as dt

crime_table = pd.read_csv("data sets\wibr.csv")
crime_table_historical = pd.read_csv("data sets\wibrarchive.csv")

C:\Users\anrau\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [20]:
crime_table.head()
crime_table.isnull().sum()

IncidentNum             0
ReportedDateTime        0
ReportedYear            0
ReportedMonth           0
Location              555
WeaponUsed          22520
ALD                   429
NSP                 14121
POLICE                354
TRACT                 421
WARD                  385
ZIP                   227
RoughX                227
RoughY                227
Arson                   0
AssaultOffense          0
Burglary                0
CriminalDamage          0
Homicide                0
LockedVehicle           0
Robbery                 0
SexOffense              0
Theft                   0
VehicleTheft            0
dtype: int64

In [21]:
crime_table_historical.isnull().sum()

IncidentNum              0
ReportedDateTime         0
ReportedYear             0
ReportedMonth            0
Location             14209
WeaponUsed          269813
ALD                  14071
NSP                 285734
POLICE               14071
TRACT                14071
WARD                 14071
ZIP                  14071
RoughX               14071
RoughY               14071
Arson                    0
AssaultOffense           0
Burglary                 0
CriminalDamage           0
Homicide                 0
LockedVehicle            0
Robbery                  0
SexOffense               0
Theft                    0
VehicleTheft             0
dtype: int64

In [85]:
df = pd.concat([crime_table,crime_table_historical])
df = df.dropna(subset = ['ALD'])
df = df.drop(['Location','WeaponUsed','NSP','POLICE','TRACT','WARD','ZIP','RoughX','RoughY'],axis = 1)
df['ReportedDateTime'] = pd.to_datetime(df['ReportedDateTime'])
df['dayMonthYear'] = df['ReportedDateTime'].dt.strftime('%d/%m/%Y')

In [88]:
df = df.sort_values(by = ['ReportedDateTime'])

In [89]:
df = df.groupby('dayMonthYear').agg({'Arson':'sum','AssaultOffense':'sum','Burglary':'sum',
                                     'CriminalDamage':'sum','Homicide':'sum','LockedVehicle':'sum',
                                    'Robbery':'sum','SexOffense':'sum',
                                    'Theft':'sum','VehicleTheft':'sum'}).reset_index()
#df = df.sort_values(by = ['dayMonthYear'])
df
#df.groupby(['col1','col2']).agg({'col3':'sum','col4':'sum'}).reset_index()
#grouped_by_make = auto.groupby('make')['make'].count().reset_index(name="frequency")

,dayMonthYear,Arson,AssaultOffense,Burglary,CriminalDamage,Homicide,LockedVehicle,Robbery,SexOffense,Theft,VehicleTheft
0,01/01/2005,0,22,10,26,0,22,16,3,15,13
1,01/01/2006,0,45,22,37,0,13,6,18,24,23
2,01/01/2007,2,61,22,46,2,17,11,19,30,27
3,01/01/2008,0,53,10,35,0,12,15,15,20,20
4,01/01/2009,0,44,8,28,0,13,5,12,57,10
...,...,...,...,...,...,...,...,...,...,...,...
6139,31/12/2016,0,27,17,11,0,4,10,2,14,14
6140,31/12/2017,0,27,12,3,1,7,6,0,12,10
6141,31/12/2018,1,20,4,14,2,4,11,4,17,13
6142,31/12/2019,0,31,5,9,0,5,6,3,17,10
6143,31/12/2020,1,28,6,10,0,12,6,0,13,22